.listAthletes {
  &__container {
    height: 95vh;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
    @include tablet {
      height: auto !important;
    }
  }

  &__listWrapper {
    height: 70%;
    overflow-x: scroll;
    margin-bottom: 5vh;
  }
  &__searchBarWrapper {
    height: 5%;
  }
  &__filterWrapper {
    height: 5%;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  &__paginationWrapper {
    margin-bottom: 3vh;
    padding-right: 3%;
    height: 5%;
  }
}
