// COLORS ----------------------------------------------
$grey: #465153;
$black: #282828;
$white: #FFFFFF;
$darkBlue: #00459A;
$lightBlue: #00CCFF;
// VARIABLES ----------------------------------------------
$mainGrey: $grey;
$mainBlack: $black;
$mainWhite: $white;
$mainBlue: $darkBlue;
$accentBlue: $lightBlue;
