// COLORS ----------------------------------------------
$grey: #465153;
$black: #282828;
$white: #ffffff;
$darkBlue: #00459a;
$lightBlue: #00ccff;
$lightGrey : #484848;
$black: black;
// VARIABLES ----------------------------------------------
$mainGrey: $grey;
$mainBlack: $black;
$mainWhite: $white;
$mainBlue: $darkBlue;
$accentBlue: $lightBlue;
$realBlack: $black;

.colors {
  &__lightBlue {
    color: $lightBlue;
  }
}
$accentGrey :$lightGrey;