.u-padding {
  padding-top: 45px;
}
.u-fullPadding {
  padding-top: 45px;
  padding-left: 50px;
}
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.u-marginB {
  margin-bottom: 1.5rem !important;
}
.u-marginL {
  margin-left: 1.5rem !important;
}
.u-marginT {
  margin-top: 1rem !important;
}
.modal__info {
  .modal-content {
    background-color: black;
  }
}
