.u-padding {
  padding-top: 45px;
}
.u-fullPadding {
  padding-top: 45px;
  padding-left: 50px;
}
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.u-marginB {
  margin-bottom: 1.5rem !important;
}
.u-marginL {
  margin-left: 1.5rem !important;
}
.u-marginT {
  margin-top: 1rem !important;
}
.modal__info {
  .modal-content {
    background-color: black;
  }
}
.MuiListItemText-root {
  span {
    font-size: 12px !important;
    font-family: "Urbanist", sans-serif;
  }
}
.MuiChip-label {
  font-size: 12px !important;
  font-family: "Urbanist", sans-serif;
}
.MuiFormLabel-root {
  @include tablet {
    margin-top: 10px !important;
  }
}
.input-group {
  @include tablet {
    flex-wrap: nowrap !important;
  }
}
.no__wrap {
  flex-wrap: wrap !important;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
